Repository SceneGate/Yarhl, pull requests merged in 2019-01, with the labels that each got.

#82 Fix build system updates for AltCover and ReportGenerator
  .gitignore
  build.cake
  src/Yarhl.IntegrationTests/Yarhl.IntegrationTests.csproj
  src/Yarhl.UnitTests/Yarhl.UnitTests.csproj
  tools/packages.config
Labels: bug

#84 Added Yarhl logo
  README.md
Labels: doc

#81 Added Yarhl course
  docs/articles/Mastering-Yarhl.md
  docs/articles/toc.yml
Labels: doc

#86 Fix reading multiline Po comments
  src/Yarhl.Media/Text/Po2Binary.cs
  src/Yarhl.UnitTests/Media/Text/Po2BinaryTests.cs
  src/Yarhl/IO/TextReader.cs
  src/Yarhl/IO/TextWriter.cs
Labels: bug, text
